/* @import url {' font url ' } */
@import "game.scss";

body {
    background-color: rgb(20, 18, 17);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    /* font-family: */
  }
  
  h1{ 
    font-size: 5.4rem;
    color: #fff;
    margin-bottom: 5rem;
  }
  
  h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
  }
  
  .container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
  }

  .flex-column{
      display: flex;
      flex-direction: column;
  }

  .flex-center{
      justify-content: center;
      align-items: center;
  }

  .hidden{
      display: none;
  }

  .btn{
      font-size: 2.4rem;
      padding: 2rem 0;
      background-color: rgb(45, 84, 255);
      width: 20rem;
      text-align: center;
      margin-bottom: 1rem;
      text-decoration: none; 
      border-radius: 5px;
      color: #000;
  }

  .btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(8, 114, 244, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
  }
